## LQTMoment Tutorial: Creating LQT Format Catalog with Catalog Builder

### A. Import Catalog Builder Module

For building LQT format catalog we can use `build_catalog` function.

In [8]:
from lqtmoment import build_catalog
import pandas as pd

### B. Initialize Input/Output File/Dir

In [12]:
# Initialize directories object
dirs = {
    "hypo_dir": r"D:\lqt-moment-magnitude\tests\sample_tests_data\data\catalog\hypo_catalog.xlsx",
    "pick_dir": r"D:\lqt-moment-magnitude\tests\sample_tests_data\data\catalog\picking_catalog.xlsx",
    "station_dir": r"D:\lqt-moment-magnitude\tests\sample_tests_data\data\station\station.xlsx",
    "output_dir": r"D:\lqt-moment-magnitude\tests\sample_tests_data\results\lqt_catalog"
}

### C. Input Format

To able to generate LQT format catalog, you need to prepare your hypocenter catalog, picking catalog, and station data in these following format

**1. Hypocenter Catalog Format**

In [44]:
# Load hypocenter catalog
hypo_df = pd.read_excel(dirs['hypo_dir'])
hypo_df.head()

,id,lat,lon,utm_x,utm_y,depth_m,elev_m,year,month,day,hour,minute,t_0,remarks
0,1001,38.088368,126.596433,289211.7600,4218348.044,1252.26,-1252.26,2024,5,11,15,30,35.91,NaN
1,1002,38.085685,126.591250,288749.4786,4218061.986,1035.99,-1035.99,2024,5,11,16,33,28.42,NaN
2,1003,38.084107,126.597537,289296.3985,4217872.598,705.16,-705.16,2024,5,27,1,19,6.78,NaN
3,1004,38.084155,126.602059,289693.1409,4217867.656,770.66,-770.66,2024,5,27,1,20,4.05,NaN
4,1005,38.088481,126.597389,289296.0093,4218358.339,1004.50,-1004.50,2024,5,27,1,21,12.38,NaN

**2. Picking Catalog**

In [40]:
# Load picking catalog
picking_df = pd.read_excel(dirs['pick_dir'])
picking_df.head()

,id,station_code,year,month,day,hour,minute_p,p_arr_sec,p_polarity,p_onset,minute_s,s_arr_sec
0,1001,KJ06,2024,5,11,15,30,36.652054,+,I,30,37.180698
1,1001,KJ14,2024,5,11,15,30,36.706322,+,E,30,37.257805
2,1001,KJ11,2024,5,11,15,30,36.727074,+,I,30,37.323666
3,1001,KJ04,2024,5,11,15,30,36.809074,-,E,30,37.316196
4,1001,KJ10,2024,5,11,15,30,36.997971,-,E,30,37.776321

**3. Station Data**

In [42]:
# Load station data
station_df = pd.read_excel(dirs['station_dir'])
station_df.head()

  station_code        lat         lon  elev_m
0         KJ01  38.125223  126.563253    1120
1         KJ02  38.097281  126.566326    1496
2         KJ03  38.110387  126.569118    1335
3         KJ04  38.096023  126.572559    1571
4         KJ05  38.121308  126.561752    1150

### D. Build LQT Format Catalog

In [5]:
catalog_df = build_catalog(dirs["hypo_dir"],
                           dirs["pick_dir"],
                           dirs["station_dir"],
                           network="TEST")
catalog_df.head()

,network,source_id,source_lat,source_lon,source_depth_m,source_origin_time,station_code,station_lat,station_lon,station_elev_m,p_arr_time,p_travel_time_sec,p_polarity,p_onset,s_arr_time,s_travel_time_sec,s_p_lag_time_sec,earthquake_type,remarks
0,TEST,1001,38.088368,126.596433,1252.26,2024-05-11 15:30:35.909999,KJ06,38.095082,126.585931,1396,2024-05-11 15:30:36.652053,0.742054,+,I,2024-05-11 15:30:37.180698,1.270699,0.528645,very_local_earthquake,NaN
1,TEST,1001,38.088368,126.596433,1252.26,2024-05-11 15:30:35.909999,KJ14,38.102954,126.577039,1398,2024-05-11 15:30:36.706321,0.796322,+,E,2024-05-11 15:30:37.257804,1.347805,0.551483,very_local_earthquake,NaN
2,TEST,1001,38.088368,126.596433,1252.26,2024-05-11 15:30:35.909999,KJ11,38.107482,126.587313,1312,2024-05-11 15:30:36.727073,0.817074,+,I,2024-05-11 15:30:37.323665,1.413666,0.596592,very_local_earthquake,NaN
3,TEST,1001,38.088368,126.596433,1252.26,2024-05-11 15:30:35.909999,KJ04,38.096023,126.572559,1571,2024-05-11 15:30:36.809074,0.899075,-,E,2024-05-11 15:30:37.316196,1.406197,0.507122,very_local_earthquake,NaN
4,TEST,1001,38.088368,126.596433,1252.26,2024-05-11 15:30:35.909999,KJ10,38.114910,126.565193,1220,2024-05-11 15:30:36.997970,1.087971,-,E,2024-05-11 15:30:37.776321,1.866322,0.778351,very_local_earthquake,NaN

### E. Save the Catalog to Results Dir

This formatted catalog will be used throughout calculation processes.

In [7]:
from pathlib import Path
catalog_df.to_excel(Path(dirs["output_dir"])/"lqt_catalog.xlsx", index=False)